.selector {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  flex: 1;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 48px;
    .text {
      font-size: 14px;
      line-height: 20px;
      color: #222;
    }
    .icon {
      margin-left: 6px;
      width: 12px;
      height: 12px;
      transition: all 0.25s;
    }
  }
  .children {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 48px;
    border-left: 3px solid transparent;
    padding-left: 13px;
    background-color: white;
    .text {
      font-size: 14px;
      line-height: 20px;
      color: #222;
    }
    &.active {
      border-left-color: #E4393C;
      .text {
        color: #E4393C;
      }
    }
  }
  .list {
    position: fixed;
    left: 0;
    top: 48px;
    z-index: 9;
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 99;
  }
  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    display: none;
    z-index: 98;
  }
  &.open {
    .mask {
      display: block;
    }
    .list {
      display: flex;
    }
    .icon {
      transform: rotate(180deg);
    }
    .item {
      z-index: 100;
      .text {
        color: #E4393C;
      }
    }
  }
}
