.detail_container {
  display: flex;
  flex-direction: column;
  .image {
    width: 375px;
    height: 211px;
  }
  .video {
    width: 375px;
    height: 211px;
  }
  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #353535;
    margin: 12px 16px 0;
  }
  .sub_title {
    margin: 0 16px;
    margin-top: 1px;
    font-size: 12px;
    color: #888;
  }
  .date {
    font-size: 12px;
    line-height: 17px;
    color: #888888;
    margin: 0 16px;
  }
  .rich_text {
    margin: 0 16px;
  }
}